{% extends 'main.html' %}

{% block title %}
  <title>Регистрация</title>
{% endblock title %}

{% block content %}
<form action="{% url 'pass_create' %}" method="post">
  {% csrf_token %}

    <div class="userinp1">
    {% for field in form %}
      {{ field }}
        {% if field.help_text %}
          <small id="help" class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        <br>
    {% for error in field.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">Регистрация</button>
  </div>
</form>
{% endblock content %}
