{% extends 'main.html' %}

{% block content %}

<div class="userinp1">
<input id="room-name-input" class="form-control" placeholder="название чата" type="text"/><br/>
<input class="btn btn-primary" id="room-name-submit" value="Подключиться" type="button" />
</div>

<script>
  document.querySelector('#room-name-submit').onclick = function(e){
    var roomName = document.querySelector('#room-name-input').value
    window.location.pathname = '/chatbox/' + roomName + '/'
  }

</script>
{% endblock content %}
