{% extends 'main.html' %}

{% block content %}

<!-- <form action="{% url 'chat_form' %}" method = 'post'>
  {% csrf_token %}
  <div style='display: flex; flex-direction: column; border: 2px solid black;'>
    {{user.username}}
    {% for item in chat %}
    {{item}}
    {% for item1 in chat1 %}
    {{item1}}<br>
    {% endfor %}
    {% endfor %}
    <button type="submit">Send</button>
  </div>
</form> -->
What chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chatbox/' + roomName + '/';
        };
    </script>
{% endblock content %}
