{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}
  <title>Главная страница</title>
{% endblock title %}

{% block content %}
<div class="findpiccont">
  <div class="findsyspic" style="animation-delay: 1s;><a href="http://google.com" target="_blank"><img class="findimg" src="{% static "gif/google.png" %}" alt="GOOGLE""></a></div>
  <div class="findsyspic" style="animation-delay: 0.5s;"><a href="http://bing.com" target="_blank"><img class="findimg" src="{% static "gif/bing.png" %}" alt="BING""></a></div>
  <div class="findsyspic"><a href="http://yahoo.com" target="_blank"><img class="findimg" src="{% static "gif/yahoo.png" %}" alt="YAHOO""></a></div>
</div>
{% endblock content %}
